@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Roboto;
    color: white;
}

input {
    outline: none;
    box-shadow: none;
}

input {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

input:hover {
    background-color: #3b3b3b;
    transform: scale(1.02);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 128px;
    margin-bottom: 40px;
}

.input-group {
    display: flex;
    width: 600px;
    border-radius: 999px;
    overflow: hidden;
    background-color: #2e2e2e;
}

.input-left,
.input-right {
    border: none;
    padding: 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.input-left {
    width: 80%;
}

.input-right {
    width: 20%;
}

.search-button {
    width: 20%;
    color: white;
    margin-top: 20px;
    background-color: #15a9ff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button-text {
    display: inline-block;
    transition: transform 0.2s ease;
}

.search-button:hover .search-button-text {
    transform: scale(1.1);
}

.search-button:hover {
    background-color: #3fb3f7;
}

.title {
    font-size: 128px;
    margin-bottom: 40px;
    transition: all 0.6s ease;
}

.title-shrink {
    font-size: 32px;
    transform: translateY(-250px);
    margin-bottom: 0;
}

.input-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.input-group-wrapper.fade-out {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
}
